<div class="content-wrapper">
  <div class="articles-h1">
    <h1 align="center">Listing all articles</h1>
  </div>
  <% @articles. each do |article| %>
      <div class="row">
        <div class="col-md-8 centered articles-wrap">
          <div class="article-title">
            <h3><%= link_to article.title, articles_path(article) %></h3>
          </div>
          <hr>
          <div class="article-body">
            <%= truncate(article.description, length: 150) %>
          </div>

          <div class="article-button">
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
            <%= link_to "Delte", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>


  <% end %>
</div>