<% if obj.errors.any? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">
            <%= pluralize(obj.errors.count, "error") %>
            Profibited this article from being saved
          </h4>
          <div class="paneo-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
<% end %>