<div class="jumbotron center">
  <div class="row">
    <div class="col-md-12">
      <h1>ALPHA BLOG</h1>
      <% if logged_in? %>
        <%= link_to "Articles", articles_path, class: "btn btn-primary btn-lg" %>
      <% else %>
        <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
      <% end %>
      </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
    $('footer').addClass("home-footer");
})
</script>