@import "bootstrap";

/*
Custom CSS
 */

body {
  background-color: #f7f7f7;
}

.container {
  padding: 0;
  width: 100%;
}

.bg-inverse {
  background-color: #313841 !important;
}

#log {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  opacity: 0.7;
  text-decoration: none;
}

.center {
  text-align: center;
}


.jumbotron {
  background-image: url("main-background.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  display: table;
  padding: 0;
  margin: 0;
  z-index: -50;
}

.jumbotron > .row {
  background-color: rgba(000,000,000,0.1);
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  width: 100%;
  height: 100%;
}

.jumbotron > .row > .col-md-12 > h1 {
  font-size: 4rem;
}

footer {
  display: table;
  width: 100%;
  height: 110px;
  background: #f7f7f7;
}

.home-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: none;
}

.home-footer >.row {
  color: #fff !important;
}


footer > .row {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100px;
  color: #666;
}

.form-wrapper {
  max-width:800px;
  width: 100%;
  margin: 0 auto;
  padding:20px;
}

.form-top {
  margin: 40px 0 5px;
  text-align: center;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.centered {
  float: none;
  margin: 0 auto;
}

.main-container {
  background-color: #fff;
}

.content-wrapper {
  padding: 10px 0 20px;
}

.articles-h1 {
  margin: 20px 0 25px;
}

.post-wrap {
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 1px 0 rgba(200, 200, 200, 0.3);
}

.articles-wrap {
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.6);
  margin-bottom: 20px;
  max-width: 750px;
  width: 90%;
}

.article-body {
  margin-bottom: 15px;
}

.article-button {
  float: right;
}