<div class="container dark-navy">
  <footer class="footer home">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><span class="copyright">© 2017 | <b>Kanji Yomoda</b> All rights reserved</span></div>
      </div>
    </div>
  </footer>
</div>